{% trans_default_domain 'product' %}
<form method="post" action="{{ path('app_produit_delete', {'id': produit.id}) }}"
      onsubmit="return confirm({{ 'message.delete'|trans({}, 'cart_content') }});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    <button class="btn-danger">{{ 'btn.delete'|trans({}, 'commons') }}</button>
</form>
<style>
    .btn-danger {
        background-color: #dc3545;
    }
</style>
